@using MvcProje.Models.Entity;
@model List<TBLURUNLER >
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<table class="table table-bordered">
    <tr>
        <th>Ürün ID</th>
        <th>Ürün Adı</th>
        <th>Kategori</th>
        <th>Fiyat</th>
        <th>Markası</th>
        <th>Stok</th>
        <th>Sil</th>
        <th>Güncelle</th>
    </tr>
    <tbody>
        @foreach(var urn in Model)
        {
        <tr>
            <td>@urn.URUNID</td>
            <td>@urn.URUNAD</td>
            <td>@urn.TBLKATEGORILER.KATEGORIAD</td>
            <td>@urn.FİYAT</td>
            <td>@urn.MARKA</td>
            <td>@urn.STOK</td>
            <td><a href="/Urun/sil/@urn.URUNID" class="btn btn-danger">Sil</a></td>
            <td><a href="/Urun/UrunGetir/@urn.URUNID" class="btn btn-success">Güncelle</a></td>
        </tr>
        }
    </tbody>
</table>
<a href="/Urun/UrunEkle/" class="btn btn-primary">Yeni Ürün Ekle</a>
